#
# Caddy configuration for Trading Strategy website/backend APIs.
#
# Contains both production and staging environments.
#
#
{
    # Disable the Caddy admin API
    # This is personal preference, you can remove this if desired
    admin off
    email no-reply@tradingstrategy.ai

    log {
        output file /var/log/caddy/access.log
        format json
    }
}

#
# Production frontend and backend and docs
#
# PYramid backend API server is localhost:3456
# SvelteKit Node.js frontend SSR server is localhost:3000
#
http://tradingstrategy.ai {

    # Backend API request
    handle /api* {
        # This is the upstream Waitress server
        reverse_proxy 127.0.0.1:3456 {
            # Backend API must respond to an individual API call under 20 seconds
            transport http {
                response_header_timeout 20s
            }
        }
    }

    # Serve docs produced by client repo Github Actions
    # from Netlify server
    handle /docs* {
        reverse_proxy https://boring-poitras-17190b.netlify.app {
            header_up Host boring-poitras-17190b.netlify.app
        }
    }

    # SvelteKit production server from frontend repository
    handle {
        reverse_proxy 127.0.0.1:3000 {
        header_up X-Forwarded-Host {host}
            # Frontend must render the page under 20 seconds
            transport http {
                response_header_timeout 20s
            }
        }
    }

    # Create a log file.
    # This is mapped to local FS thru docker-compose, so you can read it like
    # tail -f logs/access.log  | jq
    # but it is also consumed by logstash log forwarder
    log {
        format json
        output file /var/log/caddy/access.log
        #output stdout
        # Caddy cannot have two log outputs at the same time
    }

}

# New backend testing server
http://por-que.tradingstrategy.ai {

    # Backend API request
    handle /api* {
        # This is the upstream Waitress server
        reverse_proxy 127.0.0.1:3457 {
            # Backend API must respond to an individual API call under 20 seconds
            transport http {
                response_header_timeout 20s
            }
        }
    }
}

#
# Staging server.
#
# Pushed from a specific branch.
#
# Frontend - SvelteKit node.js adapter: 4000
#
# To run the SvelteKit frontend in tmux on the server see frontend/docs/staging.md
#
# Protected by HTTP Basic Auth, so that the website is not picked up by robots.
# The password is not super secret.
#
http://pinky.tradingstrategy.ai {

    # Staging Backend API requests
    # Handled by Matilda (see below)
    handle /api* {
        reverse_proxy 127.0.0.1:4567 {
            header_up X-Real-IP {remote_host}
        }
    }

    # Docs not available staging
    #handle /docs* {
    #    reverse_proxy https://boring-poitras-17190b.netlify.app {
    #        header_up Host boring-poitras-17190b.netlify.app
    #    }
    #}

    # SvelteKit production server from frontend repository
    handle {

        # Protect with password to prevent the server ending up in the Google index.
        # The password is angrybird, generated with cadddy hash-password.
        # This is mostly protecting against indexing.
        # https://caddyserver.com/docs/caddyfile/directives/basicauth
        basicauth {
	        pinky JDJhJDE0JFFpeTFyWHdKSkhwQzBsQkk3TGhkNnVEQW1WcnkzclhzTlJlaWVQMnpLVkxyNVh5Q1pIanIu
        }
        reverse_proxy 127.0.0.1:4000 {
            header_up X-Real-IP {remote_host}
        }
    }
}


# Server for oracle data
http://candlelightdinner.tradingstrategy.ai {

    reverse_proxy 127.0.0.1:6543 {
        header_up X-Real-IP {remote_host}
    }
}

# Server for web backend
# https://docs.pylonsproject.org/projects/waitress/en/latest/reverse-proxy.html
http://matilda.tradingstrategy.ai {

    reverse_proxy 127.0.0.1:3456 {
        header_up X-Real-IP {remote_host}
        # header_upstream X-Forwarded-Proto https
    }
}


# Integration test backend server
http://steve.tradingstrategy.ai {
    reverse_proxy 127.0.0.1:3457 {
        header_up X-Real-IP {remote_host}
    }
}

# First test strategy server
http://t-100.tradingstrategy.ai {
    reverse_proxy 127.0.0.1:19000 {
        header_up X-Real-IP {remote_host}
    }
}

#
# Metrics
#
# Expose Caddy OpenMetrics end-point at localhost port 6000
#
http://127.0.0.1:6000 {
    metrics /metrics
}
